openapi: 3.0.1
info:
  title: Dataflo API
  description: This is the Dataflo API specification.
  version: 1.0.0
servers:
  - url: 'https://api.dataflo.io/'
  - url: 'http://api.dataflo.io/'
tags:
  - name: data-sources
    description: Dataflo supported data sources
paths:
  /data-sources:
    get:
      tags:
        - data-sources
      summary: Get all supported data sources
      operationId: getDataSources
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSource'
              examples:
                datasources:
                  value: |-
                    [
                        {
                            "name": "Salesforce",
                            "key": "SALESFORCE",
                            "category": "CRM",
                            "description": "Connect your Salesforce account with Dataflo and easily visualize KPIs like, Deals in the pipeline, Average Contract Value, Lead-to-Opportunity Ratio, Opportunity-to-Close Ratio and more.",
                            "authentication": "BASIC"
                        },
                        {
                            "name": "Freshsales",
                            "key": "FRESHSALES",
                            "category": "CRM",
                            "description": "Connect your Freshsales account with Dataflo and easily visualize KPIs like, Deals in the pipeline, Average Contract Value, Lead-to-Opportunity Ratio, Opportunity-to-Close Ratio and more",
                            "authentication": "BASIC"
                        },
                        {
                            "name": "Google Analytics",
                            "key": "GOOGLE-ANALYTICS",
                            "category": "CRM",
                            "description": "Connect your Google Analytics account with Dataflo and easily visualize KPIs like, Deals in the pipeline, Average Contract Value, Lead-to-Opportunity Ratio, Opportunity-to-Close Ratio and more",
                            "authentication": "OAUTH"
                        }
                    ]
      security:
        - dataflo_auth:
            - 'write:datasources'
            - 'read:datasources'
    post:
      tags:
        - data-sources
      summary: Add a new supported data source to the system
      operationId: addDataSource
      requestBody:
        description: A data source object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSource'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '400':
          description: Invalid input
          content: {}
      security:
        - dataflo_auth:
            - 'write:datasources'
            - 'read:datasources'
      x-codegen-request-body-name: body
    put:
      tags:
        - data-sources
      summary: Update an existing data source
      operationId: updateDataSource
      requestBody:
        description: Data source object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSource'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '400':
          description: Invalid key supplied
          content: {}
        '404':
          description: Data source not found
          content: {}
        '405':
          description: Validation exception
          content: {}
      security:
        - dataflo_auth:
            - 'write:datasources'
            - 'read:datasources'
      x-codegen-request-body-name: body
  '/data-sources/{datasource_key}':
    get:
      tags:
        - data-source
      summary: Find a data source by key
      description: Returns a single data source
      operationId: getDataSourceByKey
      parameters:
        - name: datasource_key
          in: path
          description: key of data source to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
              examples:
                datasource:
                  value: |-
                    {
                        "name": "Salesforce",
                        "key": "SALESFORCE",
                        "category": "CRM",
                        "description": "Connect your Salesforce account with Dataflo and easily visualize KPIs like, Deals in the pipeline, Average Contract Value, Lead-to-Opportunity Ratio, Opportunity-to-Close Ratio and more.",
                        "authentication": "BASIC"
                    }
        '400':
          description: Invalid key supplied
          content: {}
        '404':
          description: data source not found
          content: {}
      security:
        - dataflo_auth:
            - 'write:datasources'
            - 'read:datasources'
    delete:
      tags:
        - data-source
      summary: Marks a data source as inactive
      operationId: deleteDataSource
      parameters:
        - name: datasource_key
          in: path
          description: Data source key to delete
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Invalid key supplied
          content: {}
        '404':
          description: Data source not found
          content: {}
      security:
        - dataflo_auth:
            - 'write:datasources'
            - 'read:datasources'
components:
  schemas:
    Category:
      type: object
      properties:
        name:
          type: string
    Authentication:
      type: object
      properties:
        type:
          type: string
    DataSource:
      required:
        - authentication
        - category
        - description
        - key
        - name
      type: object
      properties:
        key:
          type: string
        name:
          type: string
        category:
          $ref: '#/components/schemas/Category'
        authentication:
          $ref: '#/components/schemas/Authentication'
        description:
          type: string
        active:
          type: boolean
          description: data source active status
  securitySchemes:
    dataflo_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://dataflo-staging.us.auth0.com'
          scopes:
            'read:datasources': read datasources
            'write:datasources': modify data sources
